<!doctype html>
<html>

<head>
	<title>iSONGS.Info - Verified Music Search Engine | i SONGS INFO</title>
	<meta charset="utf-8" />
	<meta name="description" content="iSONGS.INFO | 100% Official Music Search Engine offers Latest and Old Telugu, Tamil, Hindi Music Albums Search. No.1 Music Site For Movie/Mp3 Songs Search, Best Site For Downloading Indian Movie Mp3 Songs For Free i SONGS Info" />
	<meta name="keywords" content="isongs, i songs search engine, music search, Telugu music, Tamil audio songs, Telugu songs, Hindi Songs, Hindi new songs, songs pages, songs web directory, free songs search, download, free songs, bollywood, kollywood, tollywood, naasongs, Telugu Mp3, Tamil Mp3, Hindi Mp3, Telugu, Hindi, Tamil, Music Search, i Songs, isongs info, naa isongs, naasongs telugu, naasongs hindi, naasongs tamil, naa songs kannada" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="fragment" content="!">
	<script>
		(function(){var cx = '010514655796191648117:1dqlu7o1avq';var gcse=document.createElement('script');gcse.type = 'text/javascript';gcse.async=true;gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gcse,s);})();
	</script>
	<!--[if !IE]><!-->
	<link href="template/css/search-site.min.css" rel="stylesheet" type="text/css" />
	<!--<![endif]-->
	<!--[if gte IE 9]><link href="template/css/site.min.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE 8]><link href="template/css/site.min.css" rel="stylesheet" type="text/css" /><script src="template/respond.min.js" type="text/javascript"></script><![endif]-->
	<!--[if lte IE 7]><link href="template/css/site-ie7.min.css" rel="stylesheet" type="text/css" /><script src="template/respond.min.js" type="text/javascript"></script><![endif]-->
	<link href="template/css/verticals-top-of-search-box.min.css" rel="stylesheet" type="text/css" />
	<style>
		body{color:#000}a:link,a:hover,a:active,a:visited{text-decoration:None;font-size:13px;color:#00F}.bodyResults #header .navbar-default{background-color:#FFF}.searchButton,.searchButton:hover,.searchButton.text,.searchButton.text:hover,.searchButton.icon,.searchButton.icon:hover{background-color:#797979;border-color:#797979}.bodyHome #horizontalNavigation .searchBoxCategories,#horizontalNavigation .searchBoxCategories,#horizontalDoubleNavigation .searchBoxCategories{background-color:#272525}#topSearchBox{max-width:650px}#footer,#footer .container-fluid{background-color:#f2f2f2}.searchButton,.searchButton.text,.searchButton.icon{color:#FFF !important;font-size:16px;font-weight:None}#horizontalDoubleNavigation .searchBoxCategories li .categoryName,#horizontalNavigation .searchBoxCategories li .categoryName{font-weight:None}#horizontalDoubleNavigation .searchBoxCategories ul li a,#horizontalDoubleNavigation .searchBoxCategories ul li a:link,#horizontalDoubleNavigation .searchBoxCategories ul li a:visited,#horizontalDoubleNavigation .searchBoxCategories ul li a:active,#horizontalNavigation .searchBoxCategories ul li a,#horizontalNavigation .searchBoxCategories ul li a:link,#horizontalNavigation .searchBoxCategories ul li a:visited,#horizontalNavigation .searchBoxCategories ul li a:active,.bodyHome #horizontalNavigation .searchBoxCategories ul li a,.bodyHome #horizontalNavigation .searchBoxCategories ul li a:link,.bodyHome #horizontalNavigation .searchBoxCategories ul li a:visited,.bodyHome #horizontalNavigation .searchBoxCategories ul li a:active{font-size:16px;color:#ccc}#horizontalDoubleNavigation .searchBoxCategories ul li a:hover,#horizontalNavigation .searchBoxCategories ul li a:hover,.bodyHome #horizontalNavigation .searchBoxCategories ul li a:hover{font-size:16px;color:#87bb38}#horizontalDoubleNavigation .searchBoxCategories .categoryLinkActive,#horizontalNavigation .searchBoxCategories .categoryLinkActive,.bodyHome #horizontalNavigation .searchBoxCategories .categoryLinkActive{color:#87bb38}ul.popularFetches li a{color:#87bb38}ul.popularFetches li a:hover{color:#87bb38}#leftColumn .searchBoxCategories li .categoryName{font-weight:None}#leftColumn .searchBoxCategories li a,#leftColumn .searchBoxCategories li a:link,#leftColumn .searchBoxCategories li a:visited,#leftColumn .searchBoxCategories li a:active{font-size:16px;color:#333}#leftColumn .searchBoxCategories li a:hover{font-size:16px;color:#87bb38}#leftColumn .searchBoxCategories .categoryLinkActive{color:#87bb38}#resultsTop h3,#resultsMain h3,#resultsBottom h3,#resultsAdsSb h3,#aylfResults h3,#aylfRepeatResults h3,#supplementalNewsResults h3,#supplementalImagesResults h3,#supplementalVideoResults h3,#supplementalShoppingResults h3,#ifSpellSuggestTitle{color:#808080;font-size:13px}.pagination .active span,.pagination .active span:link,.pagination .active span:hover,.pagination .active span:visited,.pagination .active span:active{background-color:#87bb38;border-color:#87bb38}.pagination li a,.pagination li a:link,.pagination li a:hover,.pagination li a:visited,.pagination li a:active{color:#87bb38}ul.footerLinks li a:link,ul.footerLinks li a:visited,ul.footerLinks li.separator{color:#666;font-size:13px}.footerLinks .copyright{color:#666;font-size:13px}.onSaleTag,.percentOffTag{background-color:#00C4E4;color:#FFF}.productResult .shoppingTitle,.offerResult .shoppingTitle{color:#333}.productResult .price,.offerResult .price{color:#00C4E4}.productResult .shoppingPrices:hover,.offerResult .shoppingPrices:hover{color:#00C4E4}.shoppingFreeShipping .freeShipping{color:#58A33F}#shopButton{background-color:#060}#shopButton a{color:#FFF}.dealButton{background-color:#060;color:#FFF}#resultsMain .section h3,#resultsMain .section h3.collapseSection{background-color:#666;color:#FFF;border-top:1px solid #666}#productDetailsDescription{color:#333}.gsc-input-box{width:100%}.gsc-control-cse{padding-top:0px}.gsc-search-box-tools .gsc-search-box .gsc-input{padding-right:0px}.cse .gsc-control-cse,.gsc-control-cse{padding:0em}.gcsc-branding{display:none}input.gsc-search-button,input.gsc-search-button:hover,input.gsc-search-button:focus{-webkit-box-shadow:none;-moz-box-sizing:content-box;box-shadow:none}input.gsc-input,.gsc-input-box,.gsc-input-box-hover,.gsc-input-box-focus{box-sizing:content-box;line-height:normal}.gsc-results-wrapper-overlay,.gsc-results-wrapper-visible,.gsc-search-button,.gsc-search-button-v2{box-sizing:content-box}.gsc-table-result,.gsc-thumbnail-inside,.gsc-url-top{padding-left:0 !important;padding-right:0 !important}.gsc-table-result,.gsc-thumbnail-inside,.gsc-url-top{padding:0}input.gsc-search-button,input.gsc-search-button:hover,input.gsc-search-button:focus{-webkit-box-shadow:none;-moz-box-sizing:content-box;box-shadow:none}input.gsc-input,.gsc-input-box,.gsc-input-box-hover,.gsc-input-box-focus{box-sizing:content-box;line-height:normal}.gsc-control-cse .gsc-option-menu-container,.gsc-orderby-container{display:none}.gsc-control-cse gsc-control-cse-en{background-color:transparent;border:medium none;font-family:Arial,sans-serif}.cse input.gsc-input,input.gsc-input{background-image:none;!important;background-repeat:no-repeat;background-color:#fff}.cse input.gsc-input:focus,input.gsc-input:focus{background-image:none !important}.cse input.gsc-input,input.gsc-input{background-image:none !important}

			.cb {
        float:left;width: calc(100% - 100px);
      }
      .r-btn {
        float:left;margin-top: 35px;margin-left:10px;
      }
      .r-btn a {
        border-radius: 100%;height: 30px;width: 30px;
      }
      .sbox:focus {
        outline:0 !important;
        border:1px solid #91b029; 
        box-shadow: none !important;
      }
      .sbox {
        border:1px solid #91b029;
        border-radius: 0px !important;margin-right: 0px !important;width: 500px !important;
      }

      .m-t-20 {
        margin-top: 20px;
      }

      .search-box {
        /*margin-top: 20px;*/
        /*width: 800px;*/
        /*margin: auto;*/
        /*height: 100px;*/
      }

      .search-box a {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color:#1155cc;text-decoration: underline;font-size: 18px;
      }
      .search-box p.g-link {
        color:#669900;
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 0px;
        width: 500px;
      }

      .img-desc {
        background: ;
        width:  60px;
        height: 40px;
        /*display: inline-block;*/
        display: block;
        float: left;
        

      }

      img.sbimg {
        height: 60px;
        width: 60px; 
        /*margin-top: -40px !important;       */
      }

      p.desc {
        /*float: left;*/
        margin-left: 10px;
        font-size: 13px;
        /*line-height: 20px;*/
        /*width: 500px;*/
        height: 60px;
         /*overflow-wrap: break-word;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;*/
         /*overflow: hidden;*/
          /*position: relative;*/
          /*line-height: 20px;*/
          /*max-height: 40px;*/
          text-align: left;
          background: ;
          /*display: inline-block;*/
          line-height: 20px;
          text-transform: capitalize;
          
        
      }

      .mytextbox {
        background: ;
        width: 520px;
        height: 60px;
        display: inline-block;
        opacity: 0.9;
      }

      /* mixin for multiline */
      /*.block-with-text {
        overflow: hidden;
        position: relative;
        line-height: 20px;
        max-height: 40px;
        text-align: justify;
        margin-right: -1em;
        padding-right: 1em;
      }*/
      
      /*.search-box .img-desc p.desc:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .search-box .img-desc p.desc:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 20px;
        margin-top: 0.2em;
        background: white;
      */}

       p.lang {
        /*float: left;*/
        background: ;
        /*position: absolute;*/
        /*margin-left: 70px;*/
        /*top: 145px;*/
        font-size: 13px;
        text-transform: capitalize;
       

       }

       .noresult-box {
        padding: 10px;
        border-radius: 0px;
        font-size: 13px;
        width: 600px;
        text-align: center;
        margin-top: 20px;
        display: none;
       }

       .re-sum {
        padding: 10px 10px 10px 0px;
        opacity: 0.9;
        font-family: sans-serif;
        display: none;
       }

       .newbox {
        width: 600px;
    height: 80px;
    display: inline-block;
       }

       div.loader-div {
        display: none;
        position: absolute;width: 100%;height: 100vh;background: #dcdcdc78; z-index: 999;
        text-align: center;
      }
      div.loader-div img {
        top:30%;
        position: relative;
      }

      div.small-loader-div {
        display: none;
      }

      .c-pd {
        padding: 6px 15px 6px 15px;
      }
      .c-bg-c {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
      }
      
      .search-box span {
        font-weight: 1000;
      }

	</style>
	<script src="template/js/jquery.min.js" type="text/javascript"></script>
	<script>
		if(!window.jQuery){document.write('<script type="text/javascript" src="template/js/jquery.min.js"><\/script>');}
	</script>
	<script src="https://use.fontawesome.com/82dc264ed6.js"></script>
	<link id="faviconlink" rel="shortcut icon" href="template/images/favicon.ico" />
</head>

<body>
	<div id="wrap">
		<div id="header">
			<div class="navbar navbar-default">
				<div class="container">
					<div class="row">
						<div class="logoWrapper">
							<div class="navbar-header">
								<div class="iconLogoWrapper">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
									</button>
									<a class="iconLogo" href="#" data-icl-coi="1339" data-icl-cop="topnav">
										<img src="template/images/is-logo.png" alt="iSongs" title="iSONGS" />
									</a>
								</div>
								<div class="fullLogoWrapper">
									<a class="fullLogo" href="https://isongs.info/" data-icl-coi="1339" data-icl-cop="topnav">
										<img src="template/images/isongs-search-logo.png" alt="uTorrent" title="uTorrent" />
									</a>
								</div>
							</div>
						</div>
						<div class="form-group navbarInputWrapper">
							<div id="topSearchBox">
								<div id="___gcse_0" dir="ltr"><form class="gsc-search-box gsc-search-box-tools" accept-charset="utf-8"><table cellspacing="0" cellpadding="0" class="gsc-search-box"><tbody><tr><td class="gsc-input"><div class="gsc-input-box" id="gsc-iw-id1"><table cellspacing="0" cellpadding="0" id="gs_id50" class="gstl_50 gsc-input" style="width: 100%; padding: 0px;"><tbody><tr><td id="gs_tti50" class="gsib_a"><input autocomplete="off" type="text" size="10" class="gsc-input" name="search" title="search" id="gsc-i-id1" placeholder="Custom Search" style="width: 100%; padding: 0px; border: none; margin: 0px; height: auto; background: rgb(255, 255, 255); text-indent: 0px; outline: none;" dir="ltr" spellcheck="false" x-webkit-grammar="builtin:search" lang="en"></td><td class="gsib_b"><div class="gsst_b" id="gs_st50" dir="ltr"><a class="gsst_a" href="javascript:void(0)" style="" title="Clear search box" role="button"><span class="gscb_a" id="gs_cb50" aria-hidden="true">×</span></a></div></td></tr></tbody></table></div></td><td class="gsc-search-button"><button class="gsc-search-button gsc-search-button-v2"><svg width="13" height="13" viewBox="0 0 13 13"><title>search</title><path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path></svg></button></td><td class="gsc-clear-button"><div class="gsc-clear-button" title="clear results">&nbsp;</div></td></tr></tbody></table></form></div>
							</div>
						</div>
					</div>
				</div>
				<div id="horizontalNavigation">
					<div class="searchBoxCategories">
						<ul class="nav navbar-nav">
							<li class="category"><a onclick="return confirm('Under Development...');" href="https://isongs.info/"><span class="fa fa-rss"></span><span class="categoryName">Blog</span></a>
							</li>
							<li class="category"><a onclick="return confirm('Under Development...');" href="https://isongs.info/"><span class="fa fa-search-plus"></span><span class="categoryName">Index</span></a>
							</li>
							<li class="category"><a href="https://isongs.info/support/"><span class="fa fa-info"></span><span class="categoryName">Help</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="body-content">
			<div class="container">
				<div class="row">
					<div id="pageWrapper">
						<div id="leftColumn">
							<nav class="collapse navbar-collapse" id="verticalNavigation">
								<div class="searchBoxCategories">
									<ul class="nav navbar-nav">
										<li class="category"><a onclick="return confirm('Under Development...');" href="https://isongs.info/"><span class="fa fa-rss"></span><span class="categoryName">Blog</span></a>
										</li>
										<li class="category"><a onclick="return confirm('Under Development...');" href="https://isongs.info/"><span class="fa fa-search-plus"></span><span class="categoryName">Index</span></a>
										</li>
										<li class="category"><a href="https://isongs.info/support/"><span class="fa fa-info"></span><span class="categoryName">Help</span></a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
						<div id="mainColumn">
							<div class="resultsMainRegion">
								<!-- Search Item Block -->
					              <div class="col-md-7 search-box">
					                  <a href="#" > Ok Bangaram Songs Free Download - Naa Songs</a>
					                  <p class="g-link" > https://naasongs.com/ok-bangaram.html </p>
					                  <div class="newbox">
					                    <div class="img-desc">
					                      <img class="sbimg" src="https://wsongs.com/wp-content/uploads/2018/10/Yaakinge-2018.jpg">
					                    </div>
					                    <div class="mytextbox">
					                      <p class="desc">aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee <br> Labeled: <u> Urdu </u> </p> 
					                      
					                    </div>
					                  </div>
					              </div>
							</div>
						</div>
						<div id="additionalBottomRegion"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footerWrapper">
		<div id="footer">
			<div class="container-fluid">
				<div class="row-fluid">
					<ul class="footerLinks">
						<li class="copyright">&#169; 2017 iSONGS.INFO, Inc. All Rights Reserved</li>
						<li><a href="https://isongs.info/about.html" target="_blank">About</a>
						</li>
						<li class="separator">|</li>
						<li><a href="https://isongs.info/privacy.html" target="_blank">Privacy Policy</a>
						</li>
						<li class="separator">|</li>
						<li><a href="https://isongs.info/dmca.html" target="_blank">Terms of Use</a>
						</li>
						<li class="separator">|</li>
						<li><a href="https://isongs.info/contact.html" target="_blank">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="template/js/bootstrap.min.js" type="text/javascript"></script>
		<script>
			if(!(typeof $().modal=='function')){document.write('<script type="text/javascript" src="template/js/bootstrap.min.js"><\/script>');}
		</script>
	</div>
	</div>
	<div id="overlay" style="display: none;">
		<div id="overlayScreen"></div>
		<div id="overlayContent">
			<img src="template/images/overlayloading.gif" alt="Please wait..." />
			<br /><span id="overlayText"></span>
		</div>
	</div>
	<div id="dialog" style="display: none;"></div>
	<div id="printArea" style="display: none;"></div>
	<script type="text/javascript">
		$(document).ready(function(){$('body').bind('cut copy paste', function (e) {e.preventDefault();});
		$("body").on("contextmenu",function(e){return false;});});
	</script>
</body>

</html>