<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- datatables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">


    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title> Elastic </title>
    <style>
      .cb {
        float:left;width: calc(100% - 100px);
      }
      .r-btn {
        float:left;margin-top: 35px;margin-left:10px;
      }
      .r-btn a {
        border-radius: 100%;height: 30px;width: 30px;
      }
      .op6 {
        opacity: 0.6;
      }
      input:focus { outline:0 !important; }
      div.loader-div {
        display: none;
        position: absolute;width: 100%;height: 100vh;background: #dcdcdc78; z-index: 999;
        text-align: center;
      }
      div.loader-div img {
        top:30%;
        position: relative;
      }

    </style>
  </head>
  <body>
    <div class="loader-div" id="loader-div">
      <!-- <img src="https://icon-library.net/images/spinner-icon-gif/spinner-icon-gif-15.jpg"> -->
      <img src="https://jeobi.com/images/loading.gif">
    </div>
    <!-- As a link -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">ELASTIC SEARCH</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Search Page</a>
      <a class="nav-item nav-link" href="/webinsert">Websites</a>
      <a class="nav-item nav-link" href="/single_entry">Manual</a>
      <a class="nav-item nav-link" href="/stats">Stats</a>
      <a class="nav-item nav-link" href="/settings">Settings</a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
    </nav>
    <br>
    <div class="container">
      <center>
        <h1> Search Stats </h1>
      </center>


      <div class="row"> 
        <div class="col-md-12">


          
        

      <br><br>
      <div class="table-div">
        <h3 class="op6">  Stats  </h3>
        <table class="table table-bordered table-hover" id="searchStats">
          <thead>
            <tr>
              <td>Sno</td>
              <td>Search Terms</td>
              <td>Result Counts</td>
              <td>Search On <span class="op6"> (DD/MM/YYYY h:mm a) </span> </td>
            </tr>
          </thead>
          <tbody id="tableBody">
              
              

          </tbody>
        </table>
      </div>

      </div>
      </div>

    </div>

    <script type="text/javascript">
      data = {};
      data = <%- JSON.stringify(results) %>;
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Datatables -->
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" ></script>

    <!-- https://momentjs.com/downloads/moment.js -->
    <script src="https://momentjs.com/downloads/moment.js" ></script>


    <script>
      

      $(document).ready(function(){

 
        console.log(data);
        if( data != '' ) {
          $('#tableBody').empty();
          // $('#tableBody').append(`<tr> <td colspan="3"> <center> No Websites Found </center> </td> </tr>`);
        var i = 1;
        $.each(data['hits']['hits'],function(index,value){
          console.log(value);
          row = `<tr> <td> ${i} </td>`;
          row += `<td>${value['_source']['search_term']}</td>`
          row += `<td>${value['_source']['result_count']}</td>` 
          row += `<td>${moment(value['_source']['date_searched']).format('DD/MM/YYYY h:mm a')}</td>` 
          // console.log(moment(value['_source']['date_searched']).format('MM/DD/YYYY h:mm a'));
          row += `</tr>`;
          $('#tableBody').append(row);
          i++;
        })
        
        } else {
          $('#tableBody').append(`<tr> <td colspan="4"> <center> No Search Stats Found </center> </td> </tr>`);
        }   

        
        $('#searchStats').DataTable();


      }); 
    </script>

  </body>
</html>