<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- datatables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">



    <title> Search Stats </title>
    <style>
      .cb {
        float:left;width: calc(100% - 100px);
      }
      .r-btn {
        float:left;margin-top: 35px;margin-left:10px;
      }
      .r-btn a {
        border-radius: 100%;height: 30px;width: 30px;
      }
      .op6 {
        opacity: 0.6;
      }
      .w100p {
        width: 100%;
      }
      .mt10 {
        margin-top: 10px;
      }
      .no-br {
        border-radius: 0px;
      }
      input:focus { outline:0 !important; }
      div.loader-div {
        display: block;
        position: absolute;width: 100%;height: 100vh;background: #dcdcdc78; z-index: 999;
        text-align: center;
      }
      div.loader-div img {
        top:30%;
        position: relative;
      }

    </style>
  </head>
  <body>
    <div class="loader-div" id="loader-div">
      <!-- <img src="https://icon-library.net/images/spinner-icon-gif/spinner-icon-gif-15.jpg"> -->
      <img src="https://jeobi.com/images/loading.gif">
    </div>
    <!-- As a link -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">ELASTIC SEARCH</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Search Page</a>
      <a class="nav-item nav-link" href="/webinsert">Websites</a>
      <a class="nav-item nav-link" href="/single_entry">Manual</a>
      <a class="nav-item nav-link" href="/stats">Stats</a>
      <a class="nav-item nav-link" href="/settings">Settings</a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
    </nav>
    <br>
    <div class="container">
      <center>
        <h1> Search Stats </h1>
      </center>

      <div class="alert" id="alert-box">
        
      </div>

      <div class="row"> 
        <div class="col-md-12" style="background: #fff;padding-bottom: 20px;margin-bottom: 200px;border:0px solid black;">
 

      <br><br>
      <div class="table-div">

        <div class="row">

          <div class="col-md-4">
            <label>Language</label>
            <select class="form-control" name="language" id="language" required>
              <option value="">All</option>
              <option value="hindi">Hindi</option>
              <option value="telugu">Telugu</option>
              <option value="tamil">Tamil</option>
              <option value="kannada">Kannada</option>
              <option value="others">Others</option>
            </select>
          </div>

          <div class="col-md-4">
            <label>Date From <span style="color:red;">*</span> </label>
            <input type="date" name="from" id="from" class="form-control">
          </div>

          <div class="col-md-4">
            <label>Date To<span style="color:red;">*</span></label>
            <input type="date" name="to" id="to" class="form-control">
          </div>

          <div class="col-md-4  text-center mt10" >
            <button id="filter" class="btn btn-success w100p no-br" >Filter</button>
          </div>

          <div class="col-md-4 offset-md-4 text-center mt10" >
            <button class="btn btn-danger delete-stats w100p no-br" >Delete Entire Search Logs</button>
          </div>


        </div>
        <h3> <span class="op6"> Stats </span> 
        <!-- <button class="btn btn-danger delete-stats" style="float: right;">Delete Search Logs</button> -->
        </h3>
        <table class="table table-bordered table-hover" id="searchStats">
          <thead style=" font-weight: bold;">
            <tr>
              <td>Sno</td>
              <td>Search Terms</td>
              <td>Language</td>
              <td>No of Searches</td>
              <td>Result Counts</td>
              <!-- <td>Search On <span class="op6"> (DD/MM/YYYY h:mm a) </span> </td> -->
            </tr>
          </thead>
          <tbody id="tableBody">
              
              

          </tbody>
        </table>
      </div>

      </div>
      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Datatables -->
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" ></script>

    <!-- https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js -->
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js" ></script>
<!-- https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js -->
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js" ></script>
<!-- https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" ></script>
<!-- https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" ></script>
<!-- https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" ></script>
<!-- https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js -->
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js" ></script>
<!-- https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js -->
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js" ></script>

    <!-- https://momentjs.com/downloads/moment.js -->
    <script src="https://momentjs.com/downloads/moment.js" ></script>


    <script>
      

      $(document).ready(function(){
        $('#loader-div').show();

        $('.delete-stats').click(function(){

        var r = confirm("Are you sure you want to delete logs?");
        if (r == true) {

          $('#loader-div').show();
          $.ajax({
          url: '/stats/delete',
          method:'POST', success: result => {

            // var data = JSON.parse(result);
            console.log(result);
            if( result == '1' ) {
               $('#alert-box').removeClass('alert-danger');
              $('#alert-box').addClass('alert-success');
              $('#alert-box').html('<center>Search Logs Deleted!</center>')
            } else {
              $('#alert-box').removeClass('alert-success');
              $('#alert-box').addClass('alert-danger');
              $('#alert-box').html('<center>Failed to Delete Search Logs !</center>')
            }
            setTimeout(function(){
                      location.reload();
                    },1000);
            $('#loader-div').hide();
            },
            error: e => {
              console.log("");
              $('#loader-div').hide();
              $('#alert-box').addClass('alert-danger');
              $('#alert-box').html('<center>Something went wrong!</center>')
            }
          });

          } 

        })

        $.ajax({
          url: '/stats/fetch',
          method:'POST', success: result => {

            // var data = JSON.parse(result);
            console.log("result yahan par aya ha!");
            console.log(result);
            var i=1;
            if( result['hits']['hits'].length != 0 ) {

              var new_arr = [];
              $.each(result['hits']['hits'],function(i,v){

                if (!new_arr.find(o => o.term === v['_source']['search_term'] && o.language === v['_source']['language'] && o.result_count === v['_source']['result_count'] ) ) {
                  var item = { term: v['_source']['search_term'], no_of_search:1, language:v['_source']['language'], result_count:v['_source']['result_count'] }
                  new_arr.push(item);
                  // index = new_arr.findIndex(o => o.term === v['_source']['search_term']);
                  // console.log(index+" - "+v['_source']['search_term'])
                } else {
                  index = new_arr.findIndex(o => o.term === v['_source']['search_term'] && o.language === v['_source']['language'] && o.result_count === v['_source']['result_count'] );
                  new_arr[index]['no_of_search'] += 1;
                  // console.log(index+" - "+v['_source']['search_term']+" -- "+new_arr[index]['term'])

                }

              })

              console.log(new_arr)

              $.each(new_arr,function(index,value){
                
                row = `<tr> <td> ${i} </td>`;
                row += `<td>${value['term']}</td>`
                row += `<td>${value['language']}</td>`
                row += `<td>${value['no_of_search']}</td>` 
                row += `<td>${value['result_count']}</td>` 
                // row += `<td>${moment(value['_source']['date_searched']).format('DD/MM/YYYY h:mm a')}</td>` 
                // console.log(moment(value['_source']['date_searched']).format('MM/DD/YYYY h:mm a'));
                row += `</tr>`;
                $('#tableBody').append(row);
                i++;

              })
                
              $('#searchStats').DataTable({
                  dom: 'Bfrtip',
                  buttons: [
                      'copy', 'excel', 'pdf'
                  ]
              });

              $('#loader-div').hide();

            } else {
              $('#searchStats').DataTable({
                  dom: 'Bfrtip',
                  buttons: [
                      'copy', 'excel', 'pdf'
                  ]
              });
              $('#loader-div').hide();
            }

            },
            error: e => {
              console.log("");
              $('#loader-div').hide();
              $('#alert-box').addClass('alert-danger');
              $('#alert-box').html('<center>Something went wrong!</center>')
            }
          });
    
        
        
        $('#filter').click(function(){

          var from = moment($('#from').val()).format();
          var to = moment($('#to').val()).format();
          var language = $('#language').val()

          var test = moment(from).format('Y-M-D');
          console.log(test)

          let filter = {
            from:from,
            to:to,
            language:language
          }

          if( from != 'Invalid date' && to != 'Invalid date' ) {

              $.ajax({
              url: '/stats/fetch/range',data:filter,
              method:'POST', success: result => {
                if($.fn.DataTable.isDataTable('#searchStats')) $('#searchStats').DataTable().destroy();
                $('#tableBody').empty();
                // var data = JSON.parse(result);
                console.log("result yahan par aya ha!");
                console.log(result);
                var i=1;

                if( result['hits']['hits'].length != 0 ) {

                  var new_arr = [];
                  $.each(result['hits']['hits'],function(i,v){

                    if (!new_arr.find(o => o.term === v['_source']['search_term'] && o.language === v['_source']['language'] && o.result_count === v['_source']['result_count'] ) ) {
                      var item = { term: v['_source']['search_term'], no_of_search:1, language:v['_source']['language'], result_count:v['_source']['result_count'] }
                      new_arr.push(item);
                      // index = new_arr.findIndex(o => o.term === v['_source']['search_term']);
                      // console.log(index+" - "+v['_source']['search_term'])
                    } else {
                      index = new_arr.findIndex(o => o.term === v['_source']['search_term'] && o.language === v['_source']['language'] && o.result_count === v['_source']['result_count'] );
                      new_arr[index]['no_of_search'] += 1;
                      // console.log(index+" - "+v['_source']['search_term']+" -- "+new_arr[index]['term'])

                    }

                  })


                  $.each(new_arr,function(index,value){
                    
                    row = `<tr> <td> ${i} </td>`;
                    row += `<td>${value['term']}</td>`
                    row += `<td>${value['language']}</td>`
                    row += `<td>${value['no_of_search']}</td>` 
                    row += `<td>${value['result_count']}</td>` 
                    // row += `<td>${moment(value['_source']['date_searched']).format('DD/MM/YYYY h:mm a')}</td>` 
                    // console.log(moment(value['_source']['date_searched']).format('MM/DD/YYYY h:mm a'));
                    row += `</tr>`;
                    $('#tableBody').append(row);
                    i++;
                  })
                    
                  $('#searchStats').DataTable({
                      dom: 'Bfrtip',
                      buttons: [
                          'copy', 'excel', 'pdf'
                      ]
                  });

                  $('#loader-div').hide();

                } else {
                  $('#searchStats').DataTable({
                      dom: 'Bfrtip',
                      buttons: [
                          'copy', 'excel', 'pdf'
                      ]
                  });
                  $('#loader-div').hide();
                }

              },
              error: e => {
                console.log("");
                $('#loader-div').hide();
                $('#alert-box').addClass('alert-danger');
                $('#alert-box').html('<center>Something went wrong!</center>')
              }
            });

          } else {
            alert("Select Required Filters")
          }

        })

     

      }); 
    </script>

  </body>
</html>