<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Roboto font -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title> Elastic </title>
    <style>
      .cb {
        float:left;width: calc(100% - 100px);
      }
      .r-btn {
        float:left;margin-top: 35px;margin-left:10px;
      }
      .r-btn a {
        border-radius: 100%;height: 30px;width: 30px;
      }
      .sbox:focus {
        outline:0 !important;
        border:1px solid #91b029; 
        box-shadow: none !important;
      }
      .sbox {
        border:1px solid #91b029;
        border-radius: 0px !important;margin-right: 0px !important;width: 500px !important;
      }

      .m-t-20 {
        margin-top: 20px;
      }

      .search-box {
        /*margin-top: 20px;*/
        /*width: 800px;*/
        /*margin: auto;*/
        /*height: 100px;*/
      }

      .search-box a {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color:#1155cc;text-decoration: underline;font-size: 18px;
      }
      .search-box p.g-link {
        color:#669900;
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 0px;
        width: 500px;
      }

      .img-desc {
        background: ;
        width:  60px;
        height: 40px;
        display: inline-block;
        

      }

      img.sbimg {
        height: 60px;
        width: 60px; 
        margin-top: -40px !important;       
      }

      p.desc {
        /*float: left;*/
        margin-left: 10px;
        font-size: 13px;
        /*line-height: 20px;*/
        /*width: 500px;*/
        height: 60px;
         /*overflow-wrap: break-word;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;*/
         /*overflow: hidden;*/
          /*position: relative;*/
          /*line-height: 20px;*/
          /*max-height: 40px;*/
          text-align: left;
          background: ;
          /*display: inline-block;*/
          line-height: 20px;
          
        
      }

      .mytextbox {
        background: ;
        width: 520px;
        height: 60px;
        display: inline-block;
        opacity: 0.9;
      }

      /* mixin for multiline */
      /*.block-with-text {
        overflow: hidden;
        position: relative;
        line-height: 20px;
        max-height: 40px;
        text-align: justify;
        margin-right: -1em;
        padding-right: 1em;
      }*/
      
      /*.search-box .img-desc p.desc:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .search-box .img-desc p.desc:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 20px;
        margin-top: 0.2em;
        background: white;
      */}

       p.lang {
        /*float: left;*/
        background: ;
        /*position: absolute;*/
        /*margin-left: 70px;*/
        /*top: 145px;*/
        font-size: 13px;
        text-transform: capitalize;
       

       }

       .noresult-box {
        padding: 10px;
        border-radius: 0px;
        font-size: 13px;
        width: 600px;
        text-align: center;
        margin-top: 20px;
        display: none;
       }

       .re-sum {
        padding: 10px 10px 10px 0px;
        opacity: 0.9;
        font-family: sans-serif;
       }



    </style>
  </head>
  <body>
    <!-- As a link -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand col-md-2" href="#" style="padding: 20px;margin-right: 0px; "> <img src="https://arthurgreeno.com/wp-content/uploads/2016/07/arthur-logo-3.png" style="height: 30px;width: auto;"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <form action="" method="GET" class="form-inline my-2 my-lg-0" style="margin-left:0px;">
      <input class="form-control mr-sm-2 sbox" type="search" name="q" value="<%= q%>" placeholder="Search" aria-label="Search" >
      <button class="btn btn-success my-2 my-sm-0" type="submit" style="border-radius: 0px !important;background: #91b029;border: 1px solid #91b029;" >Search</button>
    </form>
  </div>
</nav>

    <br>
    <div class="container-fluid">

      <div class="row"> 
        <div class="col-md-2" style="background: ;height: 100vh">

        </div>

        <div class="col-md-10" style="background: ; border-left:1px solid #eee;">

          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="language" id="" autocomplete="off" checked> All
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="language" id="english" autocomplete="off"> English
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="language" id="hindi" autocomplete="off"> Hindi
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="language" id="urdu" autocomplete="off"> Urdu
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="language" id="bengali" autocomplete="off"> Bengali
            </label>
          </div>

          <div class="search-result-main-box">

            <div class="noresult-box alert alert-warning">
              Cant find the results ? no problem, just drop a mail to info@example.com we will update ASAP.
            </div>

            <div class="re-sum">

              About 3,870 results (0.46 seconds)
            </div>


            <div class="row" id="append-results">
              
            

              
              <!-- Search Item Block -->
              <div class="col-md-7 search-box m-t-20">
                  <a href="#" > Ok Bangaram Songs Free Download - Naa Songs</a>
                  <p class="g-link" > https://naasongs.com/ok-bangaram.html </p>
                  <div class="img-desc">
                    <img class="sbimg" src="https://wsongs.com/wp-content/uploads/2018/10/Yaakinge-2018.jpg">
                  </div>
                  <div class="mytextbox">
                    <p class="desc">aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee <br> Labeled: <u> Urdu </u> </p> 
                    <!-- <p class="lang" style=""> Labeled : <span> <u> urdu </u> </span></p> -->
                  </div>
              </div>

              <!-- Search Item Block -->
              <div class="col-md-7 search-box">
                  <a href="#" > Ok Bangaram Songs Free Download - Naa Songs</a>
                  <p class="g-link" > https://naasongs.com/ok-bangaram.html </p>
                  <div class="img-desc">
                    <img class="sbimg" src="https://wsongs.com/wp-content/uploads/2018/10/Yaakinge-2018.jpg">
                  </div>
                  <div class="mytextbox">
                    <p class="desc">aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee <br> Labeled: <u> Urdu </u> </p> 
                    <!-- <p class="lang" style=""> Labeled : <span> <u> urdu </u> </span></p> -->
                  </div>
              </div>


            </div>

          </div>

          
        </div>

      </div>

      <br><br>
      


    </div>

    <script>
      data = {};
      data = <%- JSON.stringify(data) %>;
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      

      $(document).ready(function(){

      console.log(data);


       if( data != '' ) {
          $('#append-results').empty();
          // $('#tableBody').append(`<tr> <td colspan="3"> <center> No Websites Found </center> </td> </tr>`);
        var i = 1;
        // $('#r-s').html("Result ("+data['hits']['total']['value']+" records found)");

        $.each(data['hits']['hits'],function(index,value){
          console.log(value['_source']);
          // var dd = value['']
          row = `<div class="col-md-7 search-box">
                  <a href="#" > ${value['_source']['title']} xxx </a>
                  <p class="g-link" > ${value['_source']['location']} </p>
                  <div class="img-desc">
                    <img class="sbimg" src="${value['_source']['image_link']}">
                  </div>
                  <div class="mytextbox">
                    <p class="desc">aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee <br> Labeled: <u> Urdu </u> </p> 
                    <!-- <p class="lang" style=""> Labeled : <span> <u> urdu </u> </span></p> -->
                  </div>
              </div>`;

          $('#append-results').append(row);
          i++;
        })
        console.log(data['hits']['hits'][0]);
        } else {
          // $('#tableBody').append(`<tr> <td colspan="4"> <center> No Websites Found </center> </td> </tr>`);
        } 

        // console.log(data);
        // if( data != '' ) {
        //   $('#tableBody').empty();
        //   // $('#tableBody').append(`<tr> <td colspan="3"> <center> No Websites Found </center> </td> </tr>`);
        // var i = 1;
        // $('#r-s').html("Result ("+data['hits']['total']['value']+" records found)");

        // $.each(data['hits']['hits'],function(index,value){
        //   console.log(value['_source']);
        //   row = `<tr> <td> ${i} </td>`;
        //   row += `<td>${value['_source']['website_name']}</td>`
        //   row += `<td>${value['_source']['language']}</td>` 
        //   row += `<td> `;
        //   row += `<form action="/website/delete" method="POST" style="float:right;"> <input type="hidden" name="del_id" value="${value['_id']}" > <input type="submit" name="submit" value="Delete" class="btn btn-danger btn-sm" > </form>`;
        //   row += `<form action="/website/view" method="POST" style="float:right;margin-right:20px;"> <input type="hidden" name="update_id" value="${value['_id']}" > <input type="submit" name="submit" value="Update" class="btn btn-info btn-sm" > </form>`;
        //   row += `<form action="/website/sitemaps" method="POST" style="float:right;margin-right:20px;"> <input type="hidden" name="website_id" value="${value['_id']}" > <input type="submit" name="submit" value="Sitemaps" class="btn btn-warning btn-sm" > </form>`;
        //   row += `</td> `;
        //   row += `</tr>`;
        //   $('#tableBody').append(row);
        //   i++;
        // })
        // console.log(data['hits']['hits'][0]);
        // } else {
        //   $('#tableBody').append(`<tr> <td colspan="4"> <center> No Websites Found </center> </td> </tr>`);
        // } 


      }); 
    </script>

  </body>
</html>