<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title> Elastic </title>
    <style>
      .cb {
        float:left;width: calc(100% - 100px);
      }
      .r-btn {
        float:left;margin-top: 35px;margin-left:10px;
      }
      .r-btn a {
        border-radius: 100%;height: 30px;width: 30px;
      }
      .op6 {
        opacity: 0.6;
      }
      input:focus,select:focus{ outline:0 !important;box-shadow: none !important; }
      .no-b-r {
        border-radius: 0px !important;
      }
      div.loader-div {
        display: none;
        position: absolute;width: 100%;height: 100vh;background: #dcdcdc78; z-index: 999;
        text-align: center;
      }
      div.loader-div img {
        top:30%;
        position: relative;
      }

    </style>
  </head>
  <body>
    <div class="loader-div" id="loader-div">
      <!-- <img src="https://icon-library.net/images/spinner-icon-gif/spinner-icon-gif-15.jpg"> -->
      <img src="https://jeobi.com/images/loading.gif">
    </div>
    <!-- As a link -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">ELASTIC SEARCH</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Search Page</a>
      <a class="nav-item nav-link" href="/webinsert">Websites</a>
      <a class="nav-item nav-link" href="/single_entry">Manual</a>
      <a class="nav-item nav-link" href="/stats">Stats</a>
      <a class="nav-item nav-link" href="/settings">Settings</a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
    </nav>
    <br>
    <div class="container">
      <center>
        <h1> Manual Entries </h1>
      </center>

      <script>
            var status = "";
      </script>

      <div class="alert" id="alert-box">
        
      </div>

      <div class="row"> 

        <div class="col-md-12">
          <form class="form" action="javascript:void(0)" method="POST" id="add_new_form" >
            <div class="row" >
              <div class="col-md-12">
                <div class="form-group">
                  <label class="op6"> <h2> Add URL </h2> </label>
                  <div class="row" style="padding-left: 20px; padding-right: 20px;">
                    

                    <div class="col-md-9">
                      <div class="input-group">
                        <input type="text" name="add_new" id="add_new" class="form-control no-b-r" style="padding-left: 5px;border: none;border-bottom: 1px solid #cccccc;">

                        <div class="input-group-append">
                          <select class="custom-select no-b-r" id="language" style="padding-left: 5px;border: none;border-bottom: 1px solid #cccccc;">
                            <option value="">Language</option>
                            <option value="hindi">Hindi</option>
                            <option value="telugu">Telugu</option>
                            <option value="tamil">Tamil</option>
                            <option value="kannada">Kannada</option>
                            <option value="others">Others</option>
                          </select>
                        </div>
                      </div>

                    </div>
                    <!-- <input type="text" name="add_new" id="add_new" class="col-md-9" style="padding-left: 5px;border: none;border-bottom: 1px solid #cccccc;"> -->

                    <input type="submit" class="btn btn-success col-md-2" name="submit" value="ADD" style="margin-left: 10px;border-radius:0px;">  
                  </div> 
                </div>
              </div>
                           
            </div>
          </form>
        </div>

        <!-- <div class="col-md-12">
          <form class="form" action="javascript:void(0)" method="POST" id="add_new_form" >
            <div class="row" >
              <div class="col-md-12">
                <div class="form-group">
                  <label class="op6"> <h2> Recrawl URL  </h2> </label>
                  <div class="row" style="padding-left: 20px; padding-right: 20px;">
                    <input type="text" name="add_new" id="add_new" class="col-md-9" style="padding-left: 5px;border: none;border-bottom: 1px solid #cccccc;" readonly>
                    <input type="submit" class="btn btn-info col-md-2" name="submit" value="UPDATE" style="margin-left: 10px;border-radius:0px;"> 
                  </div> 
                </div>
              </div>
                           
            </div>
          </form>
        </div>-->

        <div class="col-md-12">
          <form class="form" action="javascript:void(0)" method="POST" id="delete_entry" >
            <div class="row" >
              <div class="col-md-12">
                <div class="form-group">
                  <label class="op6"> <h2> Delete URL </h2> </label>
                  <div class="row" style="padding-left: 20px; padding-right: 20px;">
                    <input type="text" name="delete_url" id="delete_url" class="col-md-9" style="padding-left: 5px;border: none;border-bottom: 1px solid #cccccc;">
                    <input type="submit" class="btn btn-danger col-md-2 click-delete-url" name="submit" value="DELETE" style="margin-left: 10px;border-radius:0px;">  
                  </div> 
                </div>
              </div>
                           
            </div>
          </form>
        </div> 

        

      </div>

      <br><br>
      <div class="table-div">
        <h3 class="op6"> Entries  </h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>Sno</td>
              <td>Title</td>
              <td>Location</td>
              <td>language</td>
              <td>Submitted</td>
              <td>Last Read</td>
              <td width="100px">Action</td>
            </tr>
          </thead>
          <tbody id="tableBody">
              
              

          </tbody>
        </table>
      </div>



    </div>

    <script type="text/javascript">
      data = {};
      data = <%- JSON.stringify(results) %>;
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      function checkURL() {
        var wn = $('#website_name').val();
        // var url_re = /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}/g;
        // var wn_check = wn.match(url_re);

        var expression = /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}/g;
        var regex = new RegExp(expression);
        var t = 'www.google.com';

        if (wn.match(regex)) {
          console.log("Successful match");
          return true;
        } else {
          console.log("No match");
          alert("Please Enter valid url!");
          return false;
        }

      }

      $(document).ready(function(){

        // match url re 
        // https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}


        console.log(data);
        if( data['hits']['hits'].length != 0 ) {
          $('#tableBody').empty();
          
          var i = 1;
        $('#r-s').html("Result ("+data['hits']['total']['value']+" records found)");

        $.each(data['hits']['hits'],function(index,value){
          console.log(value);
          row = `<tr> <td> ${i} </td>`;
          row += `<td>${value['_source']['title']}</td>`
          row += `<td> <a href="${value['_source']['location']}" target="_blank"> ${value['_source']['location']} </a> </td>` 
          row += `<td>${value['_source']['weblanguage']}</td>` 
          row += `<td>${value['_source']['date_inserted']}</td>` 
          row += `<td>${value['_source']['last_read']}</td>` 
          row += `<td> <button type="button" name="submit" class="btn btn-info btn-sm click-reindex" data-web-id="${value['_id']}" data-location="${value['_source']['location']}" data-weblanguage="${value['_source']['weblanguage']}" data-submitted="${value['_source']['date_inserted']}" title="Recrawl" > <i class="fa fa-refresh"></i> </button> ` 

          row += `<button type="button" name="submit" class="btn btn-danger btn-sm click-delete" data-web-id="${value['_id']}" data-location="${value['_source']['location']}" data-weblanguage="${value['_source']['weblanguage']}" data-submitted="${value['_source']['date_inserted']}" title="Delete"> <i class="fa fa-trash"></i> </button> </td>` 
          
          row += `</tr>`;
          $('#tableBody').append(row);
          i++;
        })
        
        } else {
          $('#tableBody').empty();
          $('#tableBody').append(`<tr> <td colspan="7"> <center> No Website Found </center> </td> </tr>`);
        }   


        const insertWeb = () =>{
        
            let website_url = $('#add_new').val();
            let language = $('#language').val();
              
            let filter = {
              website_url:website_url,
              language:language
            }

            if( website_url == '' || language == '' ) {
              alert('Please! enter/select value.');
              $('#loader-div').hide();
            } else {

              $.ajax({
                  url: '/single/site/add', data:filter,
                  method:'POST', success: result => {

                    // var data = JSON.parse(result);
                    console.log("result yahan par aya ha!");
                    console.log(result);
                    $('#loader-div').hide();
                    if( result == "2" ) {
                      $('#alert-box').addClass('alert-danger');
                      $('#alert-box').html('<center>Sitemap already exists!</center>')
                    }else if( result == "3" ) {
                      $('#alert-box').addClass('alert-danger');
                      $('#alert-box').html('<center>Invalid Sitemap!</center>')
                    } else if( result == "1") {
                      $('#alert-box').addClass('alert-success');
                      $('#alert-box').html('<center>Sitemap Successfully Crawled!</center>')
                    }
                    setTimeout(function(){
                      location.reload();
                    },3000);
                  },
                  error: e => {
                    console.log("");
                    $('#loader-div').hide();
                    $('#alert-box').addClass('alert-danger');
                    $('#alert-box').html('<center>Something went wrong!</center>')
                  }
                });

            }

          }



          $('.click-reindex').click(function(){

            $('#loader-div').show();
            console.log('Reindex web initiated!');

            let singleid = $(this).data('web-id');
            let location = $(this).data('location');
            let weblanguage = $(this).data('weblanguage');
            let submitted = $(this).data('submitted');
              
            let filter = {
              singleid:singleid,
              location:location,
              weblanguage:weblanguage,
              submitted:submitted
            }


              $.ajax({
                  url: 'single/site/reindex', data:filter,
                  method:'POST', success: result => {

                    // var data = JSON.parse(result);
                    console.log("result yahan par aya ha!");
                    console.log(result);
                    $('#loader-div').hide();
                    if( result == "3" ) {
                      $('#alert-box').removeClass('alert-success');
                      $('#alert-box').addClass('alert-danger');
                      $('#alert-box').html('<center>Invalid Sitemap!</center>')
                    } else if( result == "1") {
                      $('#alert-box').removeClass('alert-danger');
                      $('#alert-box').addClass('alert-success');
                      $('#alert-box').html('<center>Website Successfully Reindex/Recrawled!</center>')
                    }
                    setTimeout(function(){
                      location.reload();
                    },2000);
                  },
                  error: e => {
                    console.log("");
                    $('#loader-div').hide();
                    $('#alert-box').addClass('alert-danger');
                    $('#alert-box').html('<center>Something went wrong!</center>')
                  }
                });

            

          });

          $('.click-delete').click(function(){

            $('#loader-div').show();
            console.log('Reindex web initiated!');

            let singleid = $(this).data('web-id');
              
            let filter = {
              singleid:singleid
            }


              $.ajax({
                  url: 'single/web/delete', data:filter,
                  method:'POST', success: result => {

                    // var data = JSON.parse(result);
                    console.log("result yahan par aya ha!");
                    console.log(result);
                    $('#loader-div').hide();
                    if( result == "3" ) {
                      $('#alert-box').removeClass('alert-success');
                      $('#alert-box').addClass('alert-danger');
                      $('#alert-box').html('<center>Invalid ID!</center>')
                    } else if( result == "1") {
                      $('#alert-box').removeClass('alert-danger');
                      $('#alert-box').addClass('alert-success');
                      $('#alert-box').html('<center>Website Successfully Deleted!</center>')

                    }
                    setTimeout(function(){
                      location.reload();
                    },2000);
                  },
                  error: e => {
                    console.log("");
                    $('#loader-div').hide();
                    $('#alert-box').addClass('alert-danger');
                    $('#alert-box').html('<center>Something went wrong!</center>')
                  }
                });

            

          });


          $('.click-delete-url').click(function(){

            $('#loader-div').show();
            console.log('Delete Url initiated');

            let delete_url = $('#delete_url').val();
              
            let filter = {
              delete_url:delete_url
            }


              $.ajax({
                  url: 'url/delete/entry', data:filter,
                  method:'POST', success: result => {

                    // var data = JSON.parse(result);
                    console.log("result");
                    console.log(result);
                    $('#loader-div').hide();
                    if( result == "3" ) {
                      $('#alert-box').removeClass('alert-success');
                      $('#alert-box').addClass('alert-danger');
                      $('#alert-box').html('<center>Invalid Url!</center>')
                    } else if( result == "1") {
                      $('#alert-box').removeClass('alert-danger');
                      $('#alert-box').addClass('alert-success');
                      $('#alert-box').html('<center>Website Successfully Deleted!</center>')
                    }
                    setTimeout(function(){
                      location.reload();
                    },2000);
                  },
                  error: e => {
                    console.log("");
                    $('#loader-div').hide();
                    $('#alert-box').addClass('alert-danger');
                    $('#alert-box').html('<center>Something went wrong!</center>')
                  }
                });

            

          });


          $('#add_new_form').on('submit', () => {
            $('#loader-div').show();
              console.log('Insert Website initiated!');
              insertWeb();
          })

          


      }); 
    </script>

  </body>
</html>